.DS_Store
template/node_modules/
template/dist/
templatenpm-debug.log*
template/yarn-debug.log*
template/yarn-error.log*
template/package-lock.json
template/tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

template/node_modules/
api/venv/
api/__pycache__/